

<ol>
	<% @urls.each do |url| %>
			<li>
				<%= link_to edit_url_path(url[:id]) do %>
				<p>
					Link: <%= url.link %>
				</p>
				<p>
					Hash Code: <%= url.hash_code %>
				</p>
				<p>
					Created at: <%= url.created_at %>
				</p>
				<p>
					Url ID: <%= url.id %>
				</p>
				<% end %>
			</li>
		<% end %>
	</ol>