<!DOCTYPE html>
<html>
<head>
  <title>Futbol</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="nav-section">
	<div class="w-container">
		<div class="w-row">
			<div class="w-col w-col-4">
				<div class="company"><%#= Add Site Title %></div>
				</div>
				<div class="w-col w-col-8 navigation-column">
				<%= link_to "Nav 1", "#", class: "nav-link" %>
				<%= link_to "Nav 2", "#", class: "nav-link" %>
				<%= link_to "Nav 3", "#", class: "nav-link" %>
				<%= link_to "Nav 4", "#", class: "nav-link last" %>
				</div>
		</div>
	</div>
</div>
<%= flash[:notice] %>
<%= yield %>
<%= debug(params) %>

</body>
</html>
