Edit Order
<%= form_for @bicycle_order do |f| %>
	<div>
	<%= f.label :name %>
	<%= f.text_field :name %>
	</div>
	<div>
	<%= f.label   :wheel_set %>
	<%= f.select  :wheel_set_id, @wheel_sets.map { |wheel| [wheel.name, wheel.id]}, include_blank: "Default" %>
</div>
	<%= f.submit "Update Order" %>
	<% end %>