<section class="sign_in_register l-register-step-content--signin-create-account">
<header class="sign_in"><h1>Welcome back</h1></header>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<fieldset class="fieldset">
	<header class="signup-options-header">
	<h1 class="signup-options-header__heading">Sign in Here</h1>
	</header>
	<div class="inputset">
  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>
 </div>
  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>
</fieldset>
  <div><%= f.submit "Sign in", class: "button action" %></div>
<% end %>

<%= render "devise/shared/links" %>
</section>